#gut{
  transition:0.3s;
  position:fixed;
  top:00px;
  padding-top:5px;
  background-color:#008b8b;
  margin-left:auto;
  width:30%;
  height:100%;
  padding-left:10px;
  padding-top:80px;
  left:var(--gut);
  }
  #underline{
  .underline{
  width:80%;
  height:5px;
  background-color:#00f;
  margin-bottom:20px;
  }
  body{
  background-color=#b0c4de;   
  }
